.additional__wrapper {
  width: @mobile-width;
  box-sizing: border-box;
  margin: 0 auto;
}

.additional__title {
  .reset-ma-pa();
  .fontstyle(24px, 24px, 400, @black11);
  margin: 0 20px;
  padding-top: 31px;
  padding-bottom: 30px;
  border-bottom: 1px solid @dark-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: "";
    margin-right: -20px;
    width: 53px;
    height: 3px;
    background-color: @link-bgc;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.additional__list {
  .listreset();
  padding: 0 20px;
}

.additional__item {
  border-bottom: 1px solid @dark-grey;
}

.additional__item-wrapper {
  padding-top: 14px;
}

.additional__item-title {
  .reset-ma-pa();
  .fontstyle(16px, 16px, 400, @black22);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.additional__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 14px;
}

.additional__field {
  font-family: @font-arial;
  .fontstyle(14px, 14px, 400, @black44);
  width: 50%;
  text-align: left;
  vertical-align: top;
}

.additional__value {
  font-family: @font-arial;
  .fontstyle(14px, 14px, 400, @black44);
  width: 50%;
  text-align: right;
  vertical-align: top;
}

.additional__link {
  text-align: center;
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .additional {
    margin-bottom: 69px;
  }

  .additional__wrapper {
    width: @tablet-width;
    padding: 0;
    margin-top: -69px;
  }

  .additional__title {
    .fontstyle(36px, 36px, 400, @black11);
    text-align: left;
    padding-top: 0;
    padding-bottom: 75px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 30px;

    &::before {
      content: "";
      width: 30px;
      height: 3px;
      background-color: @link-bgc;
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: -30px;
    }

    &::after {
      content: "";
      width: 327px;
      height: 3px;
      background-color: @link-bgc;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: -30px;
    }
  }

  .additional__list {
    margin: 0 30px;
    padding: 0;
    box-sizing: border-box;
  }

  .additional__item {
    border-bottom: 1px solid @dark-grey;
    border-left: 1px solid @dark-grey;
    border-right: 1px solid @dark-grey;
    padding: 0 38px;
  }

  .additional__item-wrapper {
    padding-top: 27px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 27px;
  }

  .additional__item-title {
    width: 286px;
    margin-bottom: 0;
    margin-right: 60px;
  }

  .additional__table {
    width: 286px;
    margin-bottom: 0;
  }

  .additional__field {
    width: 191px;
    text-align: right;
    padding: 0;
  }

  .additional__value {
    width: 95px;
    text-align: right;
    padding: 0;
  }

  .additional__link {
    text-align: center;
    margin-bottom: 27px;
  }
}
