.addition__legend {
  padding: 0;
  .fontstyle(24px, 24px, 400, @black11);
  margin-bottom: 32px;
}

.addition__list {
  .listreset();
  box-sizing: border-box;
}

.addition__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.addition__label {
  display: block;
  .fontstyle(16px, 18px, 400, @black22);
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 46px;
}

@media (min-width: @tablet-width) {
  .addition__legend {
    .fontstyle(36px, 36px, 400, @black11);
    margin-bottom: 53px;
  }

  .addition__list {
    .listreset();
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .addition__item {
    width: 287px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 32px;
    }

    &:nth-child(2n+1) {
      width: 283px;
      margin-right: 60px;
    }
  }

  .addition__label {
    display: block;
    .fontstyle(16px, 18px, 400, @black22);
    text-transform: uppercase;
    padding-top: 7px;
    padding-left: 46px;
  }
}

@media (min-width: @desktop-width) {
  .addition__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    &:nth-child(2n+1) {
      width: 245px;
      margin-right: 80px;
    }
  }
}
