.comments__area {
  display: block;
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  border: 1px solid @border-color-darker;
  padding: 0;
  padding-top: 13px;
  padding-left: 14px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 18px;
  color: @desc-color-alternative;
  text-transform: uppercase;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: @desc-color-alternative;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .comments__area {
    min-height: 174px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comments__area {
    min-height: 174px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
