.comments__legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 158px;
    height: 3px;
    top: 14px;
    right: 0;
    margin-right: -20px;
    background-color: @link-color;
  }
}

.comments__area {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  border: 1px solid @border-color-darker;
  padding-top: 13px;
  padding-left: 14px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 18px;
  color: @desc-color-alternative;
  text-transform: uppercase;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: @desc-color-alternative;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .comments__legend {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 77px;

    &::after {
      width: 479px;
      top: 23px;
      margin-right: -66px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      top: 23px;
      left: 0;
      margin-left: -72px;
      background-color: @link-color;
    }
  }

  .comments__area {
    min-height: 174px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comments__legend {
    padding-left: 0;

    &::after {
      width: 1111px;
      top: 23px;
      margin-right: -110px;
    }

    &::before {
      display: none;
    }
  }

  .comments__area {
    min-height: 174px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
