.contacts {
}

.contacts__wrapper {
  width: @mobile-width;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: @white-color;
}

.contacts__wrapper--catalog {
  background-color: @background-grey-color;
}

.contacts__wrapper--form {
  background-color: @background-grey-color;
}

.contact__inner {
  padding: 0 20px;
  padding-top: 27px;
  padding-bottom: 28px;
  display: flex;
  align-items: flex-start;
}

.contacts__slogan {
  width: 140px;
  .reset-ma-pa();
  text-transform: uppercase;
}

.contacts__adress {
  width: 140px;
  font-size: 14px;
  color: @desc-color-alternative;
  .reset-ma-pa();
  font-family: "Arial", sans-serif;
}

.contacts__adress br {
  display: none;
}

.contacts__map-wrapper {
  overflow: hidden;
  position: relative;
}

.contacts__map-pin {
  position: absolute;
  top: 137px;
  left: 132px;
  width: 55px;
  height: 53px;
}

.contacts__map-img {
  margin-top: -40px;
  display: block;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    width: @tablet-width;
  }

  .contact__inner {
    padding: 0 30px;
    padding-top: 67px;
    padding-bottom: 61px;
    justify-content: space-between;
  }

  .contacts__slogan {
    width: 192px;
    margin-left: 42px;
    margin-right: auto;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    width: 192px;
    margin-right: 42px;
    font-size: 16px;
  }

  .contacts__adress br {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    position: relative;
    width: @desktop-width;
    margin: 0;
  }

  .contact__inner {
    width: 570px;
    box-sizing: border-box;
    position: absolute;
    top: 95px;
    left: 40px;
    padding: 0;
    padding-top: 67px;
    padding-bottom: 52px;
    padding-left: 77px;
    padding-right: 77px;
    justify-content: flex-start;
    background-color: @white-color;
  }

  .contacts__slogan {
    width: 245px;
    box-sizing: border-box;
    margin: 0;
    margin-right: 80px;
  }

  .contacts__adress {
    width: 245px;
    box-sizing: border-box;
    margin: 0;
  }
}
