.developer {
  border-bottom: 1px solid transparent;
}

.developer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 22px;
}

.developer__text {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: @desc-color-alternative;
  padding-top: 9px;
}

@media (min-width: @tablet-width) {
  .developer__wrapper {
    width: 162px;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .developer__wrapper {
    width: 245px;
    justify-content: flex-end;
  }

  .developer__logo {
    margin-left: 23px;
  }
}
