.features {
  margin-bottom: 16px;
}

.features__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.features__list {
  .listreset();
}

.features__item {
  background-color: @background-grey-color;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid transparent;
  position: relative;
}

.features__item--slim {
  margin-bottom: 20px;

  &::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: @link-color;
    z-index: 1;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 22px;
  }
}

.features__img {
  display: block;
  position: absolute;
  z-index: 2;
}

.features__img--slim {
  width: 35px;
  height: 49px;
  top: 22px;
  left: 30px;
}

.features__item--pro {
  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 24px;
    left: 22px;
    background-color: @link-color;
    z-index: 1;
  }
}

.features__img--pro {
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
}

.features__title {
  .reset-ma-pa();
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: 72px;
}

.features__desc {
  .reset-ma-pa();
  font-size: 14px;
  line-height: 18px;
  color: @desc-color-alternative;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid @border-color-lighter;
  margin-bottom: 19px;
  padding-bottom: 22px;
}

.features__link {
  line-height: 16px;
  color: @title-black-color;
  text-decoration: none;
  display: block;
  width: 140px;
  box-sizing: border-box;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 21px;
  padding-right: 25px;

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 11px;
    right: 19px;
    top: 50%;
    margin-top: -5px;
    background-image: url("../../img/icon-right-arrow-long.min.svg");
  }
}

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 42px;
  }

  .features__wrapper {
    width: @tablet-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
  }

  .features__item {
    padding: 0;
    padding-top: 77px;
    padding-left: 52px;
  }

  .features__item--slim {
    margin-bottom: 30px;
    padding-right: 283px;

    &::before {
      width: 200px;
      height: 200px;
      top: 92px;
      left: 446px;
    }
  }

  .features__img--slim {
    width: 140px;
    height: 194px;
    top: 80px;
    left: 476px;
  }

  .features__item--pro {
    padding-right: 322px;
    padding-top: 75px;
    padding-left: 53px;

    &::before {
      width: 200px;
      height: 200px;
      top: 91px;
      left: 448px;
    }
  }

  .features__img--pro {
    width: 268px;
    height: 112px;
    top: 134px;
    left: 412px;
  }

  .features__title {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  .features__desc {
    border-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
    padding: 0;
  }

  .features__desc--pro {
    margin-bottom: 57px;
  }

  .features__link {
    width: 300px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 62px;
    padding-right: 190px;

    &::after {
      right: 144px;
      top: 50%;
    }
  }

  .features__item--pro .features__link {
    &::after {
      right: 151px;
      top: 50%;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    margin-bottom: 72px;
  }

  .features__wrapper {
    width: @desktop-width;
    padding: 0 40px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
  }

  .features__item {
    width: 570px;
    padding: 0;
    padding-top: 75px;
    padding-left: 52px;
    padding-right: 53px;
    box-sizing: border-box;
  }

  .features__item--slim {
    margin-bottom: 0;
    margin-left: 0;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  .features__img--slim {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 66px;
  }

  .features__item--pro {
    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }
  }

  .features__img--pro {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
  }

  .features__title {
    margin-bottom: 73px;
    margin-left: 162px;
  }

  .features__desc {
    margin-bottom: 33px;
  }

  .features__link {
    width: 193px;
    padding-right: 80px;
    margin-bottom: 60px;
  }

  .features__item--pro .features__link {
    &::after {
      right: 43px;
      top: 50%;
    }
  }
}
