.form {
  border-bottom: 1px solid transparent;
}

.form__wrapper {
  width: @mobile-width;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: @white-color;
}

.form__title {
  .reset-ma-pa();
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  padding-top: 19px;
  margin-bottom: 28px;
}

.form__text {
  .reset-ma-pa();
  padding: 0 20px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.form__field {
  border: 0;
  padding: 0;
  margin: 0;
}

.form__field--data {
  margin-bottom: 31px;
}

.form__field--owner {
  margin-bottom: 31px;
  padding: 0 20px;
}

.form__field--comments {
  margin-bottom: 31px;
  padding: 0 20px;
}

.form__field--addition {
  margin-bottom: 34px;
  padding: 0 20px;
}

.form__inner {
  padding: 0 20px;
}

.form__btn {
  display: block;
  border: 0;
  width: 100%;
  margin-bottom: 24px;
}

.form__small-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: @desc-color-alternative;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: @tablet-width;
    padding: 0 30px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    padding-top: 70px;
    margin-bottom: 60px;
  }

  .form__text {
    padding: 0;
    margin-left: 42px;
    padding-right: 325px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 64px;
  }

  .form__field {
    padding-left: 42px;
    padding-right: 36px;
  }

  .form__field--data {
    margin-bottom: 79px;
  }

  .form__field--owner {
    margin-bottom: 69px;
  }

  .form__field--comments {
    margin-bottom: 69px;
  }

  .form__field--addition {
    margin-bottom: 22px;
  }

  .form__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 42px;
    padding-right: 36px;
    margin-bottom: 72px;
  }

  .form__btn {
    width: 283px;
    margin-right: 60px;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .form__small-text {
    display: block;
    width: 287px;
    padding-top: 17px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    border-bottom: 0;
    margin-bottom: 82px;
  }

  .form__wrapper {
    width: @desktop-width;
    padding: 0 40px;
  }

  .form__title {
    padding-top: 86px;
  }

  .form__text {
    padding: 0;
    padding-right: 895px;
    margin-bottom: 68px;
  }

  .form__field--data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 73px;
    padding: 0;
  }

  .form__field--owner {
    margin-bottom: 71px;
    padding: 0;
  }

  .form__field--addition {
    margin-bottom: 61px;
    padding: 0;
  }

  .form__inner {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .form__btn {
    width: 570px;
    margin-right: 80px;
  }

  .form__small-text {
    width: 570px;
  }
}
