.info {
  margin-bottom: 42px;
}

.info__wrapper {
  width: 280px;
  margin: 0 auto;
}

.info__title {
  .fontstyle(36px, 60px, 400, @black11);
  .reset-ma-pa();
  margin-bottom: 35px;
}

.info__list {
  .listreset();
}

.info__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.info__item--1 {
  margin-bottom: 20px;
}

.info__item--2 {
  margin-bottom: 20px;
}

.info__item--3 {
  margin-bottom: 20px;
}

.info__pic-wrapper {
  width: 60px;
  height: 60px;
  background-color: @link-bgc;
  position: relative;
  margin-right: 20px;
}

.info__pic-wrapper--1 {
  &::before {
    .before-after();
    width: 26px;
    height: 29px;
    top: 16px;
    left: 17px;
    background-color: @white;
  }
}

.info__pic-wrapper--2 {
  &::before {
    .before-after();
    width: 29px;
    height: 31px;
    top: 13px;
    left: 15px;
    background-color: @white;
  }
}

.info__pic-wrapper--3 {
  &::before {
    .before-after();
    width: 23px;
    height: 30px;
    top: 15px;
    left: 18px;
    background-color: @white;
  }
}

.info__pic-wrapper--4 {
  &::before {
    .before-after();
    width: 26px;
    height: 31px;
    top: 15px;
    left: 17px;
    background-color: @white;
  }
}

.info__desc {
  width: 200px;
  .fontstyle(14px, 18px, 400, @black44);
  .reset-ma-pa;
  font-family: @font-arial;
  padding-top: 6px;
}

@media (min-width: @tablet-width) {
  .info {
    margin-bottom: 51px;
  }

  .info__wrapper {
    width: @tablet-width;
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }

  .info__title {
    .fontstyle(60px, 60px, 400, @black11);
    .reset-ma-pa();
    margin-bottom: 63px;
  }

  .info__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .info__item {
    width: 324px;
    margin-right: 0;
    box-sizing: border-box;
    display: block;
    position: relative;

    // &::before {
    //   position: absolute;
    //   height: 233px;
    //   top: 0;
    //   left: 126px;
    //   margin-top: -40px;
    //   .fontstyle(281px, 281px, 400, @grey-bgc);
    // }
  }

  .info__item--1 {
    margin-bottom: 136px;
    width: 354px;
    margin-right: 30px;
  }

  .info__item--2 {
    margin-bottom: 136px;
  }

  .info__item--3 {
    margin-bottom: 105px;
    width: 354px;
    margin-right: 30px;
  }

  .info__item--4 {
    margin-bottom: 105px;
  }
  // .info__item--1 {
  //   &::before {
  //     content: "1";
  //   }
  // }

  // .info__item--2 {
  //   &::before {
  //     content: "2";
  //   }
  // }

  // .info__item--3 {
  //   &::before {
  //     content: "3";
  //   }
  // }

  // .info__item--4 {
  //   &::before {
  //     content: "4";
  //   }
  // }

  .info__pic-wrapper {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 33px;
  }

  .info__pic-wrapper--1 {
    &::before {
      .before-after();
      width: 26px;
      height: 29px;
      top: 26px;
      left: 27px;
      background-color: @white;
    }
  }

  .info__pic-wrapper--2 {
    &::before {
      .before-after();
      width: 29px;
      height: 31px;
      top: 24px;
      left: 25px;
      background-color: @white;
    }
  }

  .info__pic-wrapper--3 {
    &::before {
      .before-after();
      width: 23px;
      height: 30px;
      top: 25px;
      left: 29px;
      background-color: @white;
    }
  }

  .info__pic-wrapper--4 {
    &::before {
      .before-after();
      width: 26px;
      height: 31px;
      top: 25px;
      left: 27px;
      background-color: @white;
    }
  }

  .info__desc {
    width: 245px;
    padding-top: 0;
    .fontstyle(16px, 24px, 400, @black44);
  }
}

@media (min-width: @desktop-width) {
  .info {
    margin-bottom: 90px;
  }

  .info__wrapper {
    width: @desktop-width;
    padding: 0 40px;
    border-bottom: 0;
  }

  .info__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .info__item {
    width: 245px;
    margin: 0;
    margin-right: 80px;
    box-sizing: border-box;
    display: block;
    position: relative;

    // &::before {
    //   position: absolute;
    //   height: 233px;
    //   top: 0;
    //   left: 126px;
    //   margin-top: -40px;
    //   .fontstyle(281px, 281px, 400, @grey-bgc);
    // }
  }

  .info__item--4 {
    margin-right: 0;
  }

  // .info__item--1 {
  //   &::before {
  //     content: "1";
  //   }
  // }

  // .info__item--2 {
  //   &::before {
  //     content: "2";
  //   }
  // }

  // .info__item--3 {
  //   &::before {
  //     content: "3";
  //   }
  // }

  // .info__item--4 {
  //   &::before {
  //     content: "4";
  //   }
  // }

  .info__desc {
    width: auto;
  }
}
