.link {
  display: block;
  .fontstyle(16px, 20px, 400, @white);
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: @link-bgc;
}
