.main-nav {
  background-color: @white-color;
}

.main-nav__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding-top: 11px;
}

.main-nav__bar {
  border-bottom: 1px solid @border-color-darker;
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
}

.main-nav__logo {
  margin-right: auto;
  margin-bottom: 16px;
  display: block;
}

.main-nav__logo picture {
  display: block;
  padding: 0;
}

.main-nav__logo-img {
  display: block;
  width: 191px;
  height: 38px;
}

.main-nav__list {
  .listreset();
}

.main-nav__item {
  border-bottom: 1px solid @border-color-darker;
}

.main-nav__link {
  display: block;
  font-size: 20px;
  color: @title-black-color;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-right: 20px;
  box-sizing: border-box;
}

.main-nav__item--main {
  padding-left: 122px;
}

.main-nav__item--catalog {
  padding-left: 69px;
}

.main-nav__item--form {
  padding-left: 70px;
}

.main-nav__btn--toggle {
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin-top: 12px;
  background-image: url("../../img/icon-close.min.svg");
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    width: @tablet-width;
    box-sizing: border-box;
    padding: 0 30px;
    padding-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .main-nav__bar {
    width: auto;
    border: 0;
    padding: 0;
    display: block;
    margin-right: 96px;
  }

  .main-nav__logo-img {
    width: 173px;
    height: 58px;
  }

  .main-nav__btn {
    display: none;
  }

  .main-nav__list {
    width: auto;
    padding-top: 18px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .main-nav__item {
    border: 0;
  }

  .main-nav__item--main {
    margin-right: 34px;
    padding-left: 0;
  }

  .main-nav__item--catalog {
    margin-right: 35px;
    padding-left: 0;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    color: @desc-color;
    padding: 0;
  }

  .main-nav__item--form {
    padding-left: 0;
  }

  .main-nav__link--active {
    padding-bottom: 9px;
    border-bottom: 2px solid @link-color;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    background-color: transparent;
  }

  .main-nav__wrapper {
    width: @desktop-width;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 54px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .main-nav__bar {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .main-nav__list {
    padding-left: 0;
    padding-top: 19px;
    justify-content: flex-end;
  }

  .main-nav__item--main {
    margin-right: 0;
  }

  .main-nav__item--catalog {
    margin-right: 0;
    margin-left: 34px;
  }

  .main-nav__item--form {
    margin-left: 31px;
  }

  .main-nav__link {
    font-size: 20px;
    color: @white-color;
    padding: 0;
  }

  .main-nav__link--catalog {
    color: @title-black-color;
  }

  .main-nav__link--form {
    color: @title-black-color;
  }

  .main-nav__link--active {
    padding-bottom: 10px;
    border-bottom: 2px solid @white-color;
  }

  .main-nav__link--catalog.main-nav__link--active {
    border-bottom: 2px solid @link-color;
  }

  .main-nav__link--form.main-nav__link--active {
    border-bottom: 2px solid @link-color;
  }

  .main-nav__logo-img {
    width: 202px;
    height: 59px;
  }
}
