.page-header {
  background-color: @white-color;
}

@media (min-width: @desktop-width) {
  .page-header--index {
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: transparent;
  }
}
