.promo {
  margin-bottom: 22px;
  background-color: @white;
}

.promo__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.promo__text-wrapper {
  padding-top: 29px;
  margin-bottom: 135px;
  border-bottom: 1px solid transparent;
}

.pormo__title {
  .fontstyle(36px, 36px, 400, @white);
  .reset-ma-pa();
  text-align: center;
  margin-bottom: 23px;
}

.promo__slogan {
  .reset-ma-pa();
  .fontstyle(14px, 14px, 400, @white);
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 166px;
}

.promo__img--mobile {
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -140px;
}

.promo__img--desktop {
  display: none;
}

.promo__link {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.link--promo {
  .fontstyle(14px, 18px, 400, @white);
}

@media (min-width: @tablet-width) {
  .promo {
    width: auto;
    margin: 0;
  }

  .promo__wrapper {
    width: @tablet-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
    background-image: none;
  }

  .promo__text-wrapper {
    padding-left: 90px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .pormo__title {
    .fontstyle(60px, 60px, 400, @black11);
    text-align: left;
    margin-bottom: 45px;
  }

  .promo__slogan {
    .fontstyle(20px, 20px, 400, @black11);
    text-align: left;
    margin-bottom: 0;
  }

  .promo__img {
    display: none;
  }

  .promo__img--desktop {
    display: block;
  }

  .promo__link {
    position: absolute;
    bottom: 529px;
    left: 120px;
    width: 245px;
  }

  .link--promo {
    .fontstyle(20px, 20px, 400, @white);
  }
}

@media (min-width: @desktop-width) {
  .promo__text-wrapper {
    padding-left: 80px;
  }

  .promo__link {
    margin-left: 80px;
  }
}
