.social__wrapper {
  border-bottom: 1px solid @border-color-lighter;
}

.social__list {
  .listreset();
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
}

.social__item--vk {
  margin-left: 73px;
  margin-right: 37px;
  padding-top: 21px;
}

.social__item--insta {
  margin-right: 40px;
  padding-top: 23px;
}

.social__item--fb {
  padding-top: 22px;
}

.social__item--vk svg {
  width: 22px;
  min-height: 12px;
}

.social__item--insta svg {
  width: 16px;
  min-height: 16px;
}

.social__item--fb svg {
  width: 10px;
  min-height: 19px;
}

@media (min-width: @tablet-width) {
  .social__wrapper {
    width: 324px;
    padding-top: 0;
    border-bottom: 0;
  }

  .social__list {
    .listreset();
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    padding-top: 0;
  }

  .social__item--vk {
    margin-left: 104px;
    margin-right: 25px;
    padding-top: 8px;
  }

  .social__item--insta {
    margin-right: 29px;
    padding-top: 5px;
  }

  .social__item--fb {
    padding-top: 2px;
  }

  .social__item--vk svg {
    width: 36px;
    min-height: 16px;
  }

  .social__item--insta svg {
    width: 23px;
    min-height: 23px;
  }

  .social__item--fb svg {
    width: 14px;
    min-height: 28px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-right: 83px;
  }

  .social__wrapper {
    width: 570px;
  }

  .social__item--vk {
    margin-left: 215px;
    padding-top: 6px;
  }

  .social__item--insta {
    padding-top: 3px;
  }

  .social__item--fb {
    padding-top: 0;
  }
}
