.worksheet-list {
  .listreset();
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #ededed;
}

.worksheet-list__item {
  margin-bottom: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.worksheet-list__item:last-child {
  margin-bottom: 23px;
}

.worksheet-list__label {
  .fontstyle(16px, 18px, 400, @black22);
  text-transform: uppercase;
  padding-top: 15px;
}

.worksheet-list__input {
  .fontstyle(16px, 18px, 400, @black22);
  border: 1px solid @dark-grey;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;

  &::placeholder {
    .fontstyle(16px, 18px, 400, @black44);
    text-transform: uppercase;
  }
}

.worksheet-list__input--name {
  width: 229px;
}

.worksheet-list__input--weight {
  width: 204px;
}

.worksheet-list__input--age {
  width: 172px;
}

@media (min-width: @tablet-width) {
  .worksheet-list {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 72px;
  }

  .worksheet-list__item {
    margin-bottom: 20px;
  }

  .worksheet-list__item:last-child {
    margin-bottom: 0;
  }

  .worksheet-list__label {
    .fontstyle(20px, 20px, 400, @black22);
    padding-top: 17px;
  }

  .worksheet-list__input {
    .fontstyle(20px, 20px, 400, @black22);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    &::placeholder {
      .fontstyle(20px, 20px, 400, @black44);
    }
  }

  .worksheet-list__input--name {
    width: 567px;
  }

  .worksheet-list__input--weight {
    width: 536px;
    padding-left: 19px;
  }

  .worksheet-list__input--age {
    width: 497px;
    padding-left: 19px;
  }
}

@media (min-width: @desktop-width) {
  .worksheet-list {
    width: 570px;
    padding: 0;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .worksheet-list__input--name {
    width: 506px;
  }

  .worksheet-list__input--weight {
    width: 475px;
  }

  .worksheet-list__input--age {
    width: 436px;
  }
}
