.link {
  display: block;
  .font-fam-o();
  .font-fs-lh();
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: @padding10px;;
  padding-bottom: @padding10px;;
  padding-left: @padding10px;
  padding-right: @padding10px;
  text-align: center;
  box-sizing: border-box;
  background-color: @linkbgc;
}

.link--promo {
  font-size: 16px-2px;
  line-height: 20px-2px;
}
