.bgcwhite() {
  background-color: @cwhite;
}
.main-nav-bor-b() {
  border-bottom: 1px solid #e6e6e6;
}

.font-fam-o() {
  font-family: "Oswald", "Arial", sans-serif;
}

.font-fam-ar() {
  font-family: "Arial", sans-serif;
}

.img-mw-h() {
  max-width: 100%;
  height: auto;
}

.textreset() {
  margin: 0;
  padding: 0;
}

.listreset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.linkreset() {
  text-decoration: none;
}

.before-after() {
  position: absolute;
  content: "";
}

.fontstyle(@font-size: 16px,
  @line-height: 20px,
  @font-weight: 400,
  @color: @black11) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: @font-weight;
  color: @color;
}
