.promo {
  position: relative;
}
.promo__text-wrapper {
  background-image: url(../img/index-background-mobile@1x.jpg);
  padding-top: 29px;
  padding-bottom: 167px;
  margin-bottom: 135px;
}
.pormo__title {
  font-size: 36px;
  line-height: 36px;
  color: @cwhite;
  .font-fam-o();
  font-weight: 400;
  text-align: center;
  .textreset();
  margin-bottom: 23px;
}
.promo__slogan {
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: @cwhite;
  .font-fam-o();
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  .textreset();
}
.promo__img {
  position: absolute;
  top: 167px;
  left: 20px;
  .img-mw-h();
}
