.promo {
  position: relative;
  margin-bottom: 22px;
}

.promo__text-wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  padding-top: 29px;
  margin-bottom: 135px;
  border-bottom: 1px solid transparent;
}

.pormo__title {
  .fontstyle(36px, 36px, 400, @cwhite);
  .textreset();
  text-align: center;
  margin-bottom: 23px;
}

.promo__slogan {
  .textreset();
  .fontstyle(14px, 14px, 400, @cwhite);
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 166px;
}

.promo__img {
  position: absolute;
  top: 167px;
  left: 20px;
  .img-mw-h();
}

.link--promo {
  font-size: 14px;
  line-height: 18px;
}
